@model IndyBooks.ViewModels.ResultsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Admin Search";
    Layout = "_Layout";
    var culture = new System.Globalization.CultureInfo("en-US");
}

<h3>Search Result</h3>
@if (Model.BookList.Any())
    {
    <table class="table">
    <tr><th>Title</th><th>Author</th><th>Edition</th><th>Price</th><th>Year</th></tr>
    @foreach (var book in Model.BookList)
        {
        <tr>
            <td>
                @book.Title
            </td>
            <td>
                @book.Author
            </td>
            <td class="rightedge">
                @book.Edition
            </td>
            <td class="rightedge">
                @book.Price.ToString("C2", culture)
            </td>
            <td class="rightedge">
                @book.Year
            </td>
        </tr>
        }
    </table>
    }
else { <p class="alert"> No Books match your search</p>}

